ull-alumno/Resources/getNumeroAlumnosPipeline.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="getNumeroAlumnosPipeline"
     targetNamespace="http://xmlns.oracle.com/TFM-SB/ull-alumno/getNumeroAlumnosPipeline"
     xmlns:tns="http://xmlns.oracle.com/TFM-SB/ull-alumno/getNumeroAlumnosPipeline"
     xmlns:inp1="http://xmlns.oracle.com/pcbpel/adapter/db/getNumeroAlumnosTit"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/getNumeroAlumnosTit" schemaLocation="getNumeroAlumnosTit.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="in" element="inp1:getNumeroAlumnosTitInput"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="out" element="inp1:getNumeroAlumnosTitOutputCollection"/>
    </wsdl:message>
    <wsdl:message name="get_inputMessage">
        <wsdl:part name="request" element="inp1:getNumeroAlumnosTitInput"/>
    </wsdl:message>
    <wsdl:message name="get_outputMessage">
        <wsdl:part name="reply" element="inp1:getNumeroAlumnosTitOutputCollection"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="get">
            <wsdl:input message="tns:get_inputMessage"/>
            <wsdl:output message="tns:get_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_bind" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute">
            <soap:operation style="document" soapAction="execute"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/TFM-SB/ull-alumno/getNumeroAlumnosPipeline"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/TFM-SB/ull-alumno/getNumeroAlumnosPipeline"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get">
            <soap:operation soapAction="get"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
