ull-alumno/GetPipeline.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="GetPipeline"
     targetNamespace="http://xmlns.oracle.com/TFM-SB/ull-alumno/GetPipeline"
     xmlns:tns="http://xmlns.oracle.com/TFM-SB/ull-alumno/GetPipeline"
     xmlns:inp1="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBReference"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp2="http://xmlns.oracle.com/pcbpel/adapter/db/top/getAlumnosByTit"
    >
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBReference" schemaLocation="Business/DBReference_table.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/getAlumnosByTit" schemaLocation="Resources/getAlumnosByTit_table.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="inpt" element="inp1:DBReferenceSelect_titulacion_curso_dni_sexoInputParameters"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="outpt" element="inp1:EgresadosCollection"/>
    </wsdl:message>
    <wsdl:message name="get_inputMessage">
        <wsdl:part name="request" element="inp2:getAlumnosByTitSelect_titulacionInputParameters"/>
    </wsdl:message>
    <wsdl:message name="get_outputMessage">
        <wsdl:part name="reply" element="inp2:EgresadosCollection"/>
    </wsdl:message>
    <wsdl:portType name="get_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="get">
            <wsdl:input message="tns:get_inputMessage"/>
            <wsdl:output message="tns:get_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_bind" type="tns:get_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute">
            <soap:operation style="document" soapAction="execute"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/TFM-SB/ull-alumno/GetPipeline"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/TFM-SB/ull-alumno/GetPipeline"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get">
            <soap:operation soapAction="get"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
